.stand {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 300px;
  padding-left: 36px;
  margin-top: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 36px;
}
