.sendForm {
}

.textarea {
}

.button {
}

.button:hover {
}
.button:active {
}

.sendForm {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;
}

.textarea {
  resize: none;
  width: 80%;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  overflow-y: hidden;
}

.button {
  width: 15%;
  padding: 10px;
  border-radius: 10px;
  background-color: lightblue;
  border: none;
  color: white;
  cursor: pointer;
}
